.movie-item {
    box-sizing: border-box;
    width: 250px;
    /* height: 600px; */
    border: 2px solid rgb(217, 239, 244);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
    font-size: 14px !important;
}

.movie-item:hover {
    border-color: rgb(118, 184, 244);
}

.movie-item-wrapper {
    padding: 15px 15px 5px;
}

.movie-item-wrapper:hover {
    background-color: rgb(217, 239, 244);
}

.movie-item-wrapper:hover h4 span {
    font-weight: 700;
}

.movie-item img {
    width: 100%;
    vertical-align: bottom;
}

.icon-heart-blue {
    color: rgb(66, 94, 246);
}

.icon-heart-grey {
    color: #ccc;
}

.movie-item h3 {
    font-size: 18px !important;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-item h3 span {
    margin-left: 10px;
}

.movie-item h4 {
    color: rgb(117, 117, 117);
    /* color: rgb(131, 131, 131); */
    font-weight: 400;
    font-size: 14px !important;
}

.movie-item h4 span {
    margin-left: 5px;
}

.movie-item p {
    color: #bbb;
    height: 80px;
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.movie-item-button {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.movie-item-button button {
    height: 26px;
    width: 100px;
    border: 2px solid rgb(144, 199, 234);
    border-radius: 5px;
    background-color: rgb(144, 199, 234);
    color: #fff;
    outline: none;
    font-size: 14px;
    font-family: Times, Arial, Helvetica, sans-serif, fantasy;
}

.movie-item-button button:hover {
    border-color: rgb(118, 184, 244);
}

.movie-item-button button:active {
    background-color: rgb(118, 184, 244);
}
